.profile__box-pic {
  position: relative;
  display: flex;
  justify-content: center;
}

.profile__box-pic:hover .profile__change-btn{
  display: block;
}

.profile__box-pic:hover .profile__avatar{
  opacity: 0.4;

}
