.element__delete {
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/recycle.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  transition: opacity .3s linear;
  display: none;
}

.element__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
