.popup__input {
  margin: 0 36px 10px;
  border-width: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  width: 358px;
  padding: 0 0 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:nth-of-type(2) {
  margin-top: 11px;
}

@media (max-width: 580px) {
  .popup__input {
    width: 238px;
    margin: 0 22px;
    padding: 0 0 8px;
  }
}
